:root{
--righteous:"Righteous", sans-serif;
--pt: "PT Sans Caption", sans-serif;
--pacifico:"Pacifico", cursive;
--breef:"Bree Serif", serif;
--maincolor:#212529;

}
body{
    background-color: #F7ECDE;
}
::selection{
    background-color: #FEC260;
    color: #352e28;
}
/* .container h2::selection{
    background-color: #FEC260;
    color: #FEC260;
} */
::placeholder{
    font-family: var(--pt);
    font-size: 16px;
   
   color: #6C757D;
}
h1{

    color: #352E28;
    font-family: var(--pacifico);
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
   position: relative;
 display: inline-block;
}


h1::after{
    content: "";
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color:#FEC260 ;
    z-index: -1;
    transition: all 0.5s;

}
h1:hover::after{
height: 65%;
}
.hr{
    height: 1px;
    margin: 2rem;
    border:#212529 dashed 1px;
}

h2{
    font-family: var(--righteous);
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    background-clip: text;
    background-image: linear-gradient(to right ,#3ca55c,#3ca55c, #b5ac49,#b5ac49);
    color: transparent;
}
h2::selection{
    background-color:#FEC260 ;
  color: rgba(254, 193, 96, 0.99) ;
}
label{
    font-family: var(--pt);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.form-control1{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border:1px solid #bcb8b2a1 ;
    outline: none;
    border-radius: var(--bs-border-radius);

}
input:focus{
    outline:  4px solid #fec1608c ;
   border:2px solid #E9BD77 ;
   
}

.btn-submit {
    --bs-btn-color: #fff;
    --bs-btn-bg: #d1512d;
    --bs-btn-border-color: #d1512d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb4120;
    --bs-btn-hover-border-color: #a03315;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color:#000;
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: #000;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  
}

   button{
    font-family: var(--pt);
    font-size: 16px;
    
    line-height: 24px;
   }
table {
    font-family: var(--pt);
    font-size: 16px;
   
    line-height: 24px;
}
th{
    font-weight: 700;
}
.btn-visit{
    --bs-btn-color: #fff;
    --bs-btn-bg: #9eb23b;
    --bs-btn-border-color: #9eb23b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #8A9E23;
    --bs-btn-hover-border-color: #6e8018;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color:#000;
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: #000;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    
}

/* table button a{
   color: #fff;
   
}

table button button:active a{
    color:#000;

} */
.btn-delete{

    --bs-btn-color: #fff;
    --bs-btn-bg: #eb1d36;;
    --bs-btn-border-color: #eb1d36;;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg:#d30820;
    --bs-btn-hover-border-color:#ba081d;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color:#000;
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: #000;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);


}
.modaal{
    background-color:#0007;
    position: fixed;
    top: 0;
    right: 0;
    left:0;
    bottom: 0;
  
}
.modaal-inner{
    width: 35%;
    height:250px;
    background-color: white;
    
}
.modaal-body p{
    font-size: 21px;
    font-family: var(--breef);
}
.modaal-footer i{

color: #BB4120;
font-size: 18px;
}
.modaal-footer p{ 

    font-size: 18px;
    font-family: var(--pt);
}
.modal-header i{
    cursor: pointer;
}